<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.fortune.edgecamera"
    version="1.6.0">

<name>Edge detection camera</name>
<description>PhoneGap plugin to support a custom edge detection camera</description>
<author>Brian Mwadime and others</author>
<repo>https://github.com/brianmwadime/phonegap_edge_camera.git</repo>
<issue>https://github.com/brianmwadime/phonegap_edge_camera/issues</issue>

<info>
    Edge detection plugin
</info>

<js-module src="www/js/edge_camera.js" name="EdgeCamera">
    <clobbers target="cordova.plugins.EdgeCamera" />
</js-module>

<platform name="ios">

    <!-- config file -->
    <config-file target="config.xml" parent="/*">
        <feature name="EdgeCamera">
            <param name="ios-package" value="EdgeCamera" />
        </feature>
    </config-file>

    <!-- core CustomCamera header and source files -->
    <header-file src="platforms/ios/EdgeCamera/Classes/EdgeCamera.h" />
    <header-file src="platforms/ios/EdgeCamera/Classes/ViewController.h" />
    <source-file src="platforms/ios/EdgeCamera/Classes/EdgeCamera.m" />
    <source-file src="platforms/ios/EdgeCamera/Classes/ViewController.m" />
    <source-file src="platforms/ios/EdgeCamera/Classes/IPDFCameraViewController.m" />
    <source-file src="platforms/ios/EdgeCamera/Classes/IPDFCameraViewController.h" />
    <resource-file src="platforms/ios/EdgeCamera/Classes/ViewController.xib" />

    <source-file src="platforms/ios/EdgeCamera/Images.xcassets/capture_button.imageset/capture_button@2x.png" />
    <source-file src="platforms/ios/EdgeCamera/Images.xcassets/focusIndicator.imageset/focusIndicator.png" />
    <source-file src="platforms/ios/EdgeCamera/Images.xcassets/focusIndicator.imageset/focusIndicator@2x.png" />

    <framework src="Foundation.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CoreTelephony.framework" />
     <framework src="AssetsLibrary.framework" />
     <framework src="MobileCoreServices.framework" />
     <framework src="CoreGraphics.framework" />
     <framework src="AVFoundation.framework" />
    <framework src="QuartzCore.framework" />

</platform>

</plugin>
